body {
	margin:0;
}

a{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

/* main container styles */
.wrapper {
	width: 100%;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}